@model KeenaKaata.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "BrandProduct";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:250px;width:100%">

               
               <img class="img-responsive" title="Click to View Product detail"
                   style="cursor:pointer;height:120px;width:80%"
                 src="../Product/@item.ProductImage" />
               

                <div class="caption">
                    <h5> @item.ProductName</h5>
                    <p>@item.Price ৳.</p>

                    @if (item.Quantity > 0)
                    {
                        using (Html.BeginForm("AddCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                        {
                            <button type="submit" class="pull-right"><i class="a fa-shopping-cart"></i></button>
                        }

                        <p>Available</p>
                    }

                    else
                    {
                        <p>Not Available</p>
                    }

                    <div class="product-item-badge">
                        @if (item.IsFeatured == true)
                        {
                            <p>New</p>
                        }
                        else
                        {
                            <p>Old</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
</div>